.main_home_div{
    background: url("https://i.ibb.co/fvNQsvd/thumbimg-44489191thumbejpg.jpg") no-repeat;
    background-size: cover;
}

.left_side{
    background: url("https://i.ibb.co/fvNQsvd/thumbimg-44489191thumbejpg.jpg") no-repeat;
    background-size: cover;
}